
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>
<form action="{% url 'student_list' %}">
    <input type="text" name="studentname" placeholder="write student name">
    <input type="text" name="fathername" placeholder="write father name">
   <button type="submit" value="submit" >Search</button>
</form>
</form>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
    <th>FatherName</th>
    <th>MotherName</th>
  </tr>
  {% for student in student_list %}
  <tr>
    <td>
        {{student.name}}
    </td>
    <td>
        {{student.email}}
    </td>
    <td>
        {{student.country}}
    </td>
    <td>
        {{student.fathername}}
    </td>
    <td>
        {{student.mothername}}
    </td>
  </tr>
  {% endfor %}
</table>


</body>
</html>
